header {
  background-color: #797a64;
  opacity: 0.9;
  position: fixed;
  z-index: 9999;
}

.top-page-header {
  width: 100%;
  height: 12vh;
  padding: 3vh 2vw;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.title-icon {
  width: 15vw;
}

.nav {
  display: flex;
}

.lists-left {
  display: flex;
}

.nav-icon {
  width: 15vw;
  border-radius: 30px;
}

.nav-icon:hover {
  box-shadow: 0 3px 5px rgb(91, 94, 92);
  transform: translate(0, -5px);
}

.lists-right {
  display: flex;
}

