//  投稿画面

.items-contents {
  background-image: image-url('Old_5.jpeg');
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100vw;
  height: 130vh;
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: white;
}

///

//  アカウント情報登録、編集画面

.items-profile-contents {
  background-image: image-url('Old_12.jpeg');
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100vw;
  height: 120vh;
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: white;
}
///

.items-main {
  background-color: #797a64;
  opacity: 0.9;
  width: 70vw;
  padding: 10vh 15vw;
}

.items-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
  margin: 1vh 0;
}

.image-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1vh 0;
}

.click-upload {
  margin: 5px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 5px;
}

.items-text {
  width: 100%;
  padding: 20px 20px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  margin-bottom: 5px;
}

.items-explain {
  margin-top: 1vh;
}

.btn-contents {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.post-btn {
  width: 100%;
  background: #066306;
  border: 1px solid #066306;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius:30px;
  margin: 2vh 0;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 14px;
  padding: 15px 35%;
  border-radius: 30px;
}

/// 投稿画面

// アカウント情報編集
.user-profile-box {
  width: 100%;
  padding: 20px 20px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  margin-bottom: 5px;
}

.edit-btn {
  width: 100%;
  background: #066306;
  border: 1px solid #066306;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius:30px;
  margin: 2vh 0;
}
/// アカウント情報編集

img {
  width: 15%;
}

#image-list {
  margin-left: 30px;
}