.item-contents {
  background-color: rgba(210, 212, 209, 0.658);
}

.search-form {
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 15px;
  text-align: center;
}

.search-form .search-input {
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
}

.search-form .search-btn {
  cursor: pointer;
}

.contents-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 95vw;
}

.item-lists {
  margin: 5px;
}

.list {
  width:25vw;
}

.item-img {
  width: 100%;
  height: auto;
  border-radius: 30px;
  vertical-align: bottom;
}

// .item-lists {
//   display: -webkit-flex;
//   display: flex;
//   -webkit-flex-direction: column;
//   flex-direction: column;
//   -webkit-flex-wrap: wrap;
//   flex-wrap: wrap;
//   height: 100vw; /* ビューポート(幅)を基準に表示高を指定 */
// }

// .list {
//   width: 30%;
// }

