
.search-form {
  box-sizing: border-box;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
}

.search-form .search-input {
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 10px;
  height: 2.0em;
  width: 300px;
  overflow: hidden;
}

.search-form .search-btn {
  cursor: pointer;
  width: 100px;
  border-radius: 15px;
  color:#fff;
  background-color:#486141;
}

.contents-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 95vw;
}

.item-lists {
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
 }

.list {
  width:25vw;
}

.post-image {
  width: 100%;
  height: auto;
  border-radius: 30px;
  vertical-align: bottom;
  margin: 5px;
  box-shadow: 1px 1px 1px rgb(7, 7, 7);
}




