<%= render "shared/header" %>

<div class='title-contents'>
  <h2 class='site-title'>
    Old fashion
  </h2>
  <p class='what-site'>古着専用の写真投稿サイト</p>
</div>

<%= render "shared/post_btn" %>


<%# <%= render "shared/footer" %> 